[defaults]
# File inventory chứa IP VPS AWS
inventory = inventory/aws.ini
# Bỏ hỏi xác nhận SSH host key khi chạy lần đầu
host_key_checking = False
# Không tạo file retry sau khi lỗi
retry_files_enabled = False
# Hiển thị output Ansible dễ đọc hơn
stdout_callback = yaml

[ssh_connection]
# Tăng tốc SSH khi chạy nhiều task
pipelining = True
